@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body {
    height: 100vh;
    background-image: linear-gradient(#FECEAB, #99B898);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    position: relative;
    font: 25px 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.container, #heading {
    width: 80vh;
    background-color: rgba(64, 64, 64, 0.25);
    margin: 10px 0;
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    height: 80vh;
}

.card {
    width: 25vh;
    height: 25vh;
    border-radius: 15px;
    transform-style: preserve-3d;
}

.filler {
    width: 25vh;
    height: 25vh;
    border-radius: 15px;
    transform-style: preserve-3d;
    transition: transform .2s ease;
}

.filler:hover, .filler:active {
    transform: rotateY(180deg);
}

.front, .back {
    position: absolute;
    width: 25vh;
    height: 25vh;
    background-color: #E84A5F;
    border-radius: 15px;
    backface-visibility: hidden;
}

.back {
    background-color: #FF847C;
    transform: rotateY(180deg);
    z-index: -1;
}